@using CozinhaDeVo.ViewModel.Home;

@model IEnumerable<ReceitasHomeViewModel>



<div id="listaCarrosselNovidades" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#listaCarrosselNovidades" data-slide-to="0" class="active"></li>
        @for (var i = 1; i < Model.Count(); i++)
        {
            <li data-target="#listaCarrosselNovidades" data-slide-to="@i"></li>
        }
    </ol>
    <div class="carousel-inner">
        @for (var i = 0; i < Model.Count(); i++)
        {
            if (i == 0)
            {
                <div class="carousel-item active">
                    <a href="#">
                        <img class="d-block w-100" src="@Model.ElementAt(i).Imagem" alt="@Model.ElementAt(i).Titulo">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@Model.ElementAt(i).Titulo</h5>
                            <p>@Model.ElementAt(i).Descricao</p>
                        </div>
                    </a>
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <a href="#">
                        <img class="d-block w-100" src="@Model.ElementAt(i).Imagem" alt="@Model.ElementAt(i).Titulo">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@Model.ElementAt(i).Titulo</h5>
                            <p>@Model.ElementAt(i).Descricao</p>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
    <a class="carousel-control-prev" href="#listaCarrosselNovidades" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#listaCarrosselNovidades" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>